

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.cate-menu {
  position: relative;
  margin-left: 3px;
  margin-right: 3px;
  padding-bottom: 16px;
}

.cate-menu:hover ul {
  display: block;
}

.list-medict {
  position: absolute;
  top: 35px;
  left: -40px;
  display: none;
  width: 390px;
  border-radius: 12px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-top: 0;
  padding-bottom: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.cate-title {
  display: block;
  overflow: hidden;
  padding-top: 16px;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 14px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/* .cate-title::after {
  @apply content-[''] w-[6px] h-[6px] border-r border-b float-right ml-[8px] mr-[3px] my-[0] rotate-45 absolute pointer-events-none
} */

.sub-cate-item {
  display: block;
  cursor: pointer;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity));
}

.list-medict > li:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(232 242 234 / var(--tw-bg-opacity));
}

.footer_top-link p:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.sale_title {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 5px 0;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
  color: #112950;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.sale_old-price {
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
  width: 100%;
  height: 22px;
  font-size: 1rem;
  line-height: 22px;
  text-decoration-line: line-through;
  color: #b2bac6;
}

.sale_discount-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 24px;
  top: 22px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 5px 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  color: #0072bc;
}

.sale_add-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 5px 0;
  height: 44px;
  width: 100%;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  line-height: 24px;
  background: #c31731;
  color: #fff;
  cursor: pointer;
}

.sale_link {
  position: relative;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0px;
  box-shadow: 0 0 12px rgba(11,14,20,.12);
}

.sale_head-frame {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100%;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.sale_head-product {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.container-wrapper:not(:first-child) {
  margin: 2rem 0;
  padding: 2rem 0;
}

.our_service-info {
  width: calc(100% - 72px);
}

.divider {
  margin-left: 60px;
  margin-right: 60px;
  height: 0.75rem;
  width: 0px;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(0 128 0 / var(--tw-border-opacity));
  opacity: 0.5;
}

/* system */

.after\:block::after {
  content: var(--tw-content);
  display: block;
}

.after\:w-full::after {
  content: var(--tw-content);
  width: 100%;
}

.after\:pt-\[100\%\]::after {
  content: var(--tw-content);
  padding-top: 100%;
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:rounded-t-xl:hover {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.hover\:opacity-80:hover {
  opacity: 0.8;
}

.focus\:border-\[\#187733\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(24 119 51 / var(--tw-border-opacity));
}